/Friet.net/nbproject/private/
/Friet.net/src/res/Config
/Friet.net/nbproject/project.xml
/Friet.net/nbproject/project.properties
/Friet.net/build.xml
/Friet.net/nbproject/build-impl.xml
/Friet.net/nbproject/genfiles.properties
/Friet.net/manifest.mf
/Friet.net/build/
/Friet.net/dist/